<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Product Manager</title>
</head>
<body>
	<div align="center">
		    
		<h1>Product List</h1>
		    <a href="/new">Create New Product</a>    <br />
		<br />    
		<table border="1" cellpadding="10">
			        
			<thead>
				            
				<tr>
					                
					<th>Symbol</th>                
				</tr>
				        
			</thead>
			        
			<tbody>
				            
				<tr th:each="eachStock : ${allStocks}">
					                
					<td th:text="${eachStock.symbol}">Symbol</td>                
					
				</tr>
				        
			</tbody>
			    
		</table>
	</div>
	   
</body>
</html>